<h1>Flight Booker</h1>

<%= form_with(url: search_flights_path, method: :get) do |f| %>
  <%= f.label :departure, "Departing from:" %>
  <%= f.collection_select :departure, Airport.order(:id), :id, :name, { selected: params[:departure]} %><br>

  <%= f.label :destination, "Arriving at:" %>
  <%= f.collection_select :destination, Airport.order(:id), :id, :name, { selected: params[:destination]} %><br>

  <%= f.submit 'Search' %>
<% end %>

<h2>Available Flights</h2><hr>

<% @flights.each do |flight| %>
  <div style="padding-left: 1rem; border: 1px solid black;">
    <div style="display: flex; gap: 1rem;">
      <p style="margin-bottom: 0;">Departing from: <strong><%= flight.departure.name %></strong></p>
      <p style="margin-bottom: 0;">Destination: <strong><%= flight.destination.name %></strong></p>
    </div>
    <p>Duration: <strong><%= flight.duration %>hrs</strong></p>
    <p>Flight Date: <strong><%= flight.date.to_date %></strong></p>
    <%= link_to 'view flight', flight_path(flight) %><br><br>
  </div><br>
<% end %>
