<h1>Flight Details</h1>

<p><strong>Departing from:</strong> <%= @flight.departure.name %></p>
<p><strong>Destination:</strong> <%= @flight.destination.name %></p>
<p><strong>Duration:</strong> <%= @flight.duration %>hrs</p>
<p><strong>Flight Date:</strong> <%= @flight.date.to_date %></p>

<%= link_to 'return to flights', root_path %><br><br>

<%= form_tag new_booking_path, method: :get do %>
  <%= label_tag :passengers, "Select number of passengers:" %>
  <%= select_tag :passengers, options_for_select([1, 2, 3, 4]) %>

  <%= hidden_field_tag :flight_id, @flight.id %>
  <%= submit_tag 'Book flight' %>
<% end %>

<!-- <%= link_to 'Book flight', new_booking_path(flight_id: @flight.id, passengers: 3) %> -->
