<h1>Book Flight</h1>

<div style="padding-left: 1rem; border: 1px solid black;">
  <div style="display: flex; gap: 1rem;">
    <p style="margin-bottom: 0;">Departing from: <strong><%= @flight.departure.name %></strong></p>
    <p style="margin-bottom: 0;">Destination: <strong><%= @flight.destination.name %></strong></p>
  </div>
  <p>Duration: <strong><%= @flight.duration %>hrs</strong></p>
  <p>Flight Date: <strong><%= @flight.date.to_date %></strong></p>
</div><br>

<%= form_with model: @booking do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation" style="color: red;">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'booking[flight_id]', params[:flight_id] %>

  <h2>Passenger info</h2>
  <% params[:passengers].to_i.times do %>
    <%= f.fields_for :passengers do |passenger| %>
      <div>
        <div>
          <%= passenger.label :name %>
          <%= passenger.text_field :name %>
        </div><br>

        <div>
          <%= passenger.label :email %>
          <%= passenger.text_field :email %>
        </div><br>
      </div><br>
    <% end %>
  <% end %>
  
  <%= f.submit "Book Flight" %>
<% end %>
