<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:error] %>
      <div style="color: red; font-size: 1.5rem;"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:success] %>
      <div style="color: green;"><%= flash[:success] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
